@font-face {
  font-family: 'HUGEAvantGardeBold';
  src: url("/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/huge_agb_v5-webfont.woff") format("woff"), url("/fonts/huge_agb_v5-webfont.ttf") format("truetype"), url("/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'GalaxieBook';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-Book.woff") format("woff"), url("/fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'Galaxie';
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("/fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg");
}
/* Smartphones */
@media screen and (max-width: 649px), only screen and (max-device-width: 480px) {
  header {
    height: 60px;
    /* Positioning the navigation items inline */
    /* Styling the links */
    /* Background color change on Hover */
    /* Hide Dropdowns by Default
	 * and giving it a position of absolute */
    /* Display Dropdown when clicked on Parent Lable */
    /* Change menu item's width to 100% */
  }
  header .menu-area {
    z-index: 30;
    float: left;
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: #ec008c;
  }
  header .nav-mobile {
    height: 100vh !important;
    background: #fff !important;
    width: 60% !important;
    position: relative !important;
    top: 60px;
  }
  header .nav-mobile .nav {
    left: 0;
  }
  header .nav-mobile h1 {
    left: 0;
  }
  header .nav-mobile .mobile-menu {
    left: 100%;
    -webkit-transform: translate(-72px, 0px);
    -moz-transform: translate(-72px, 0px);
    transform: translate(-72px, 0px);
  }
  header h1 {
    position: absolute;
    left: -80px;
    padding: 20px 0 20px 24px;
    transition: 0.5s;
  }
  header h1 img.hugeIcon {
    width: 77px !important;
    float: left !important;
    margin-left: 75px;
    display: none;
  }
  header h1 img.hugeIcon.active {
    display: block;
  }
  header .nav {
    display: none;
  }
  header .mobile-menu {
    background-image: url('../images/toggle-open.svg');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    display: block;
    width: 72px;
    height: 60px;
    transition: 0.2s;
    -webkit-appearance: none;
    background-color: #ec008c;
    border: none;
    outline: 0;
  }
  header .mobile-menu.close {
    background-image: url('../images/toggle-close.svg');
    right: 0px !important;
    left: auto !important;
    outline: 0;
  }
  header .mobile-menu:hover {
    cursor: pointer;
  }
  header .nav-mobile ul {
    float: left;
    background-color: #fff;
    padding: 0;
    width: 100%;
  }
  header .nav-mobile a {
    display: block;
    padding: 8px 5px;
    color: #000;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
  }
  header .nav-mobile a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .nav-mobile ul li.parents ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 60px;
  }
  header .nav-mobile ul li.parents.open:after {
    bottom: 26px !important;
    -webkit-transform: rotate(225deg) !important;
    -moz-transform: rotate(225deg) !important;
    transform: rotate(225deg) !important;
    transition: 0.5s;
  }
  header .nav-mobile ul li.parents.open ul {
    display: block;
    margin: 0;
    position: static;
    transition: 0.4s;
    width: 99%;
    padding: 0;
  }
  header .nav-mobile ul li.parents.open ul li {
    display: block;
    line-height: 48px;
    width: 99%;
  }
  header .nav-mobile ul li.parents.open ul a {
    color: #000;
    font-size: 16px;
    line-height: 28px;
    font-family: 'GalaxieBook';
    transition: 0.3s background-color;
  }
  header .nav-mobile ul li.parents.open ul a:hover {
    background-color: #eee;
    color: #ec008c;
  }
  header .nav-mobile ul li.parents.open ul a:focus {
    outline: 0;
    color: #ec008c;
  }
  header .nav-mobile ul li.parents:after {
    content: '';
    display: block;
    position: relative;
    left: 90%;
    bottom: 36px;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #ec008c;
    border-right: 3px solid #ec008c;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 0.5s;
  }
  header .nav-mobile ul li {
    font-family: 'HUGEAvantGardeBold';
    font-size: 21px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 97%;
    position: relative;
    padding: 3px 0px 0px 8px;
    float: left;
  }
  .content section .banner {
    min-height: 240px !important;
    overflow: hidden !important;
    background: url(../images/background-image.jpg) center !important;
    background-size: cover !important;
  }
  .content section .initial-text {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
  }
  .content section .initial-text h2 {
    font-family: 'HUGEAvantGardeBold' !important;
    font-size: 48px !important;
    color: #000 !important;
    line-height: 48px !important;
    text-align: left !important;
    float: left !important;
    margin: 25px 0 !important;
  }
}
/* Sub Menus */
@media screen and (min-width: 650px) {
  .nav {
    display: block;
  }
}
body {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
}
header {
  background-color: #ec008c;
  color: #fff;
  padding: 0;
  width: 100%;
  float: left;
  z-index: 20;
  position: relative;
  /* Sub Menus */
}
header h1 {
  float: left;
  margin: 0 45px 0 0;
  padding: 20px 0 20px 20px;
}
header h1 img.hugeIcon {
  width: 60px;
  float: left;
}
header .nav ul {
  background-color: #ec008c;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
header .nav ul li {
  font-family: 'HUGEAvantGardeBold';
  font-size: 21px;
  line-height: 48px;
  outline: 0;
  text-align: left;
}
header .nav ul li:hover > a {
  background-color: #fff;
  color: #ec008c;
}
header .nav ul li.parents:focus ul {
  /*  opacity is 1 in opened state (see below) */
  opacity: 1;
  visibility: visible;
}
header .nav ul li.parents ul {
  position: absolute;
  z-index: 100;
  /* use opacity to fake immediate toggle */
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s;
}
header .nav ul a {
  border-bottom: none;
  display: block;
  height: 54px;
  padding-left: 15px;
  padding-top: 10px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s background-color;
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  header .mobile-menu,
  header .nav-mobile {
    display: none;
  }
  header .nav {
    display: block;
  }
  header .nav > ul li {
    width: 130px;
    border-bottom: none;
    height: 64px;
    line-height: 48px;
    display: inline-block;
    margin-right: -4px;
  }
  header .nav > ul li.parents ul {
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 200px;
  }
  header .nav > ul li.parents ul li {
    font-family: 'GalaxieBook';
    font-size: 16px;
    display: block;
    line-height: 48px;
    width: 100%;
  }
  header .nav > ul li.parents ul a {
    color: #000;
    transition: 0.3s background-color;
  }
  header .nav > ul li.parents ul a:hover {
    background-color: #eee;
    color: #ec008c;
  }
  header .nav > ul li.parents ul a:focus {
    outline: 0;
  }
  header .nav > ul > li {
    text-align: center;
  }
  header .nav > ul > li > a {
    padding-left: 0;
  }
  header .nav > ul a {
    border-bottom: none;
  }
}
.content {
  width: 100%;
  position: relative;
}
.content section {
  position: relative;
}
.content section .banner {
  width: 100%;
  min-height: 640px;
  background: url(../images/background-image.jpg) center;
  background-size: cover;
}
.content section .initial-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content section .initial-text h2 {
  padding: 0px 24px;
  font-family: 'HUGEAvantGardeBold';
  font-size: 120px;
  color: #fff;
  line-height: 132px;
  text-align: center;
}
.content .text-content {
  float: left;
  width: 100%;
  padding: 0 24px;
  margin-top: 60px;
}
.content .text-content p {
  margin: 0 auto;
  max-width: 968px;
  font-family: 'GalaxieBook';
  font-size: 24px;
  color: #000;
  line-height: 36px;
}
