@font-face {
  font-family: 'HUGEAvantGardeBold';
  src: url("/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/huge_agb_v5-webfont.woff") format("woff"), url("/fonts/huge_agb_v5-webfont.ttf") format("truetype"), url("/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'GalaxieBook';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-Book.woff") format("woff"), url("/fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'Galaxie';
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("/fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg");
}
body {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
}
/* Smartphones */
@media screen and (max-width: 649px), only screen and (max-device-width: 480px) {
  header {
    height: 60px;
  }
  header .menu-area {
    z-index: 30;
    float: left;
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #ec008c;
  }
  header.open-mobile nav {
    left: 0;
  }
  header.open-mobile h1 {
    left: 0;
  }
  header.open-mobile .mobile-menu {
    left: 100%;
    -webkit-transform: translate(-72px, 0px);
    -moz-transform: translate(-72px, 0px);
    transform: translate(-72px, 0px);
  }
  header h1 {
    position: absolute;
    left: -80px;
    padding: 20px 0 20px 24px;
    transition: 0.5s;
  }
  header h1 img {
    width: 50px;
  }
  header .mobile-menu {
    background-image: url('../images/toggle-open.svg');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    display: block;
    width: 72px;
    height: 60px;
    transition: 1s;
    -webkit-appearance: none;
    background-color: #ec008c;
    border: none;
  }
  header .mobile-menu.close {
    background-image: url('../images/toggle-close.svg');
  }
  header .mobile-menu:hover {
    cursor: pointer;
  }
  header .nav-mobile {
    /* critical sizing and position styles */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* non-critical appearance styles */
    list-style: none;
    background: #111;
  }
}
header {
  background-color: #ec008c;
  color: #fff;
  padding: 0;
  width: 100%;
  float: left;
  z-index: 20;
  position: relative;
  /* Sub Menus */
}
header h1 {
  float: left;
  margin: 0 45px 0 0;
  padding: 20px 0 20px 20px;
}
header h1 img.hugeIcon {
  width: 60px;
  float: left;
}
header .nav ul {
  background-color: #ec008c;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
header .nav ul li {
  font-family: 'HUGEAvantGardeBold';
  font-size: 21px;
  line-height: 48px;
  outline: 0;
  text-align: left;
}
header .nav ul li:hover > a {
  background-color: #fff;
  color: #ec008c;
}
header .nav ul li.parents:focus ul {
  /*  opacity is 1 in opened state (see below) */
  opacity: 1;
  visibility: visible;
}
header .nav ul li.parents ul {
  position: absolute;
  z-index: 100;
  /* use opacity to fake immediate toggle */
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s;
}
header .nav ul a {
  border-bottom: none;
  display: block;
  height: 54px;
  padding-left: 15px;
  padding-top: 10px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s background-color;
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  header .mobile-menu {
    display: none;
  }
  header .nav {
    display: block;
  }
  header .nav > ul li {
    width: 130px;
    border-bottom: none;
    height: 64px;
    line-height: 48px;
    display: inline-block;
    margin-right: -4px;
  }
  header .nav > ul li.parents ul {
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 200px;
  }
  header .nav > ul li.parents ul li {
    font-family: 'GalaxieBook';
    font-size: 16px;
    display: block;
    line-height: 48px;
    width: 100%;
  }
  header .nav > ul li.parents ul a {
    color: #000;
    transition: 0.3s background-color;
  }
  header .nav > ul li.parents ul a:hover {
    background-color: #eee;
    color: #ec008c;
  }
  header .nav > ul li.parents ul a:focus {
    outline: 0;
  }
  header .nav > ul > li {
    text-align: center;
  }
  header .nav > ul > li > a {
    padding-left: 0;
  }
  header .nav > ul a {
    border-bottom: none;
  }
}
.content {
  float: left;
  width: 100%;
  position: relative;
}
.content section {
  position: relative;
}
.content section .banner {
  width: 100%;
  min-height: 640px;
  background: url(../images/background-image.jpg) center;
  background-size: cover;
}
.content section .initial-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content section .initial-text h2 {
  padding: 0px 24px;
  font-family: 'HUGEAvantGardeBold';
  font-size: 120px;
  color: #fff;
  line-height: 132px;
  text-align: center;
}
.content .text-content {
  float: left;
  width: 100%;
  padding: 0 24px;
  margin-top: 60px;
}
.content .text-content p {
  margin: 0 auto;
  max-width: 968px;
  font-family: 'GalaxieBook';
  font-size: 24px;
  color: #000;
  line-height: 36px;
}
